.wrapper {
  width: 100%;
  border-radius: 4px;
  background-color: var(--color-grey-lightest);
  padding: 1rem;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  text-align: right;
}

.table tr {
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.table th,
.table td {
  flex-shrink: 0;
  flex: 1;
  padding: 0.5rem;
}


.summary {
  background-color: var(--color-grey-light);
  border-radius: 4px;
}
