@import "./variables/colors.css";
@import "./variables/dimensions.css";
@import "./variables/borders.css";
@import "./variables/fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff-default);
  line-height: var(--lh-default);
  font-size: var(--fs-default);
  color: var(--color-grey-darkest);
}
